#page {
  gap: 6em;
}

#players {
  grid-template: 4em / repeat(2, 15em);
  display: grid;
  gap: 1em;

  list-style-type: none;
}

.player {
  display: grid;
  border-radius: 5px;
  border: 2px solid gray;
}

#board {
  aspect-ratio: 1;
  padding: 2em;
  place-self: center;

  border-collapse: collapse;
  border-style: hidden;
}

#play-btn {
  justify-self: center;
  padding: 0.5em 0.8em;
}

.cell {
  height: 5em;
  width: 5em;
  padding: 0.5em;
  font-size: 30px;
  border: 2.5px solid gray;
}

.cell:hover {
  cursor: pointer;
  background-color: #f9ffff;
}
